<h2>Sorry, but some cards are dependant on this {{item}}.</h2>
<p>Cards currently dependant on this {{item}}:</p>
<ul>
    {{#each cards}}
        <li>{{card_name}}</li>
    {{/each}}
</ul>
<a href="/">Okay, take me home</a>