<h1>
    <span style="color:red">WARNING! You are about to delete a(n) {{item}}!</span>
</h1>
<h2>
    Are you sure you want to do this?
</h2>
<div>
    <a href="/delete/{{table}}/{{name}}">Yes</a>
    <a href="/">No</a>
</div>